<tr>
    <td style="text-align: center;">
        <% if (item.images && item.images.length) { %>
            <img width="150" src="https://<%= item.images[0].url.substr(2) %>" alt="<%= item.images[0].title %>" />
        <% } %>
    </td>
    <td style="text-align: center;">
        <%= item.title %>
    </td>
    <td style="text-align: center;">
        <%= item.count %>
    </td>
</tr>